:root {
  --card: whitesmoke;
  --card-details-bg: rgba(0, 0, 0, 60%);
  --card-details-txt: white;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: 60px 1fr 80px;
  grid-template-areas: 
    "header header"
    "content sidebar"
    "menu menu";
}

.header {
  background-color: lightblue;
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 0px 40px 0px 20px;
}

.header .action {
  margin-left: auto;
}

.action {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.3rem;
}

.action img {
  height: 30px;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  background-color: lightpink;
  grid-area: content;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  overflow: scroll;
}

.content .card {
  position: relative;
  display: inline-block;
  background-color: var(--card);
  height: 300px;
  width: 210px;
  border-radius: 15px;
  border: 5px solid var(--card);
}

.card .cover {
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  height: 290px;
  width: 200px;
}

.card .indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.card .details {
  position: absolute;
  background-color: var(--card-details-bg);
  color: var(--card-details-txt);
  bottom: 40px;
  padding: 10px;
}

.details .author {
  font-size: .7rem;
}

.sidebar {
  background-color: lightgreen;
  grid-area: sidebar;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 20px 10px;
}

.sidebar .cover {
  object-fit: cover;
  height: 145px;
}

.sidebar .details {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 10px 0px;
}

.row {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.row input {
  margin-left: 8px;
  padding: 3px;
}

.row input[type="text"],
.row input[type="url"],
.row input[type="number"] {
  appearance: none;
}

.row label,
.row input[type="text"],
.row input[type="url"] {
  width: 95%;
  display: block;
}

.row input[type="number"] {
  width: 80%;
}

.row fieldset {
  border: none;
}

.row fieldset label {
  display: inline;
  padding: 0px 5px;
  font-size: 1rem;
}

.compact {
  display: flex;
  justify-content: flex-end;
}

.cell {
  flex: 1;
}

.row button {
  margin: 10px auto;
  padding: 3px 30px;
}

.menu {
  background-color: lightgoldenrodyellow;
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 0px 50px
}

